.my-label {
  font: Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 550;
  color: #000;
}
.major-label



.lead{
  padding: 0;
  margin: 0;
}

.jsprofile-image {
  border-radius: 50%;
}




.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

.info{
  width:60%;
}
a{
  color: #000;
}
a:before{
  color: #000;
  font-style: none;
}
a:hover{
  color: #000;
  
}
