.my-label {
  font: Helvetica, sans-serif;
  font-weight: 550;
  color: #000;
}

.minor-label{
  font-size: 5em;
  font-weight: 550;
}

.major-label{
  font-size: 3em;
  font-weight: 500;
}


.lead{
  padding: 0;
  margin: 0;
}

.jsprofile-image {
  border-radius: 50%;
}




.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}



.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}
.aboutarea{
  padding-top: 125px;
}
.aboutarea p{
  font-size: 2em;
}






a{
  color: #000;
}
a:before{
  color: #000;
  font-style: none;
}
a:hover{
  color: #000;
}

.thumbnail-tint{
filter: grayscale(100%);
}

.thumbnail-tint:hover{
  filter: grayscale(0);
}




footer{
  background-color: teal;
  padding-top: 20px;
}
